@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

div.form-cnpj {
    height: 100vh;
    background-color: #187BCD;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.form-cnpj fieldset legend h2 {
    font-size: 40px;
}

div.form-cnpj fieldset div.form-label-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.form-cnpj fieldset div.form-label-input label {
    font-weight: bold;
}

div.form-cnpj fieldset div.form-label-input input[type=text] {
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 10px;
    border: none;
    font-size: 15px;
}

div.form-cnpj fieldset {
    padding: 7px;
}